# Ignore virtual environment
curiosax/
# Ignore compiled files
*.pyc
__pycache__/
# Ignore Wandb
wandb/
# Ignore experiment data
MLC_logs/
# Ignore Hyperparameters
MetaLearnCuriosity/agents/hyperparameter_versions/
# Ignore notebooks
*.ipynb
# Ignore get-pip.py
get-pip.py
# Ignore tpu_curiosax
tpu_curiosax/
# Ignore images
*.png
